.catalog {
  padding: $big-offset 0;

  &__left {
    grid-column: 3 span;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: $second-offset;
    font: $prehigh-book;
  }

  &__caption {
    display: block;
    margin-bottom: $small-offset;
    font: $middle-book;
    color: $color-main;
  }

  &__prop-checkboxes {
    display: flex;
    justify-content: space-between;
  }

  &__prop {
    margin-bottom: $second-offset;
  }

  &__item {
    grid-column: 4 span;
  }

  &__apply {
    width: 100%;
    margin-bottom: 20px;
  }

  &__more {
    margin-top: $big-offset;
  }
}

.catalog-filters {
  border-radius: 4px;
  padding: $second-offset;
  background-color: $color-bg;
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-price {
  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      width: 2px;
      height: 34px;
      background-color: #B2B5BB;
      transform: translateX(-50%);
    }
  }

  &__input {
    font: $middle-book;
    text-align: center;
    color: $color-main;
    border: 1px solid #B2B5BB;
    width: 50%;
    height: 50px;
    background-color: transparent;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none;
    }
  }
}

.noUi-horizontal {
  height: 2px;
  // background: $color-main;
}

.noUi-connect {
  background-color: $color-main;
}


.noUi-target {
    background-color: $color-main;
    border: none;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 3px;
  height: 18px;
  right: -1px;
  top: -8px;
}
.noUi-handle {
  border: none;
  // border-radius: 3px;
  background-color: $color-main;
  cursor: pointer;
  box-shadow: none;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

// .noUi-handle-lower {
//   right: -3px;
// }
