.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    align-items: center;
    border-bottom: 1px solid $color-border;
    padding: $second-offset 0;
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
}

