
.hero {
  padding: 164px 0;
  height: 800px;
  background-color: $color-eastbay;

  &__bg-text {

  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 580px;
    font: 400 36px / 140% $font-family;
    color: $color-white;
  }

  &__descr {
    margin: 0;
    margin-bottom: $main-offset;
    max-width: 480px;
    font: $middle-book;
    color: $color-white;
  }

  &__btn {

  }
}




