.sizes-table {
  width: 100%;
  border-collapse: collapse;


  caption {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  td {
    border: 1px solid $color-cameo;
    font: $middle-book;
    padding: 17px 5px;
    text-align: center;
    color: $color-main;
  }

}
