<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title title">Часто задаваемые вопросы</h2>
    <div class="faq__accordion" id="accordion">
      <h3>
        <span>Вопрос 1</span>
        <svg class="faq__icon">
          <use xlink:href="images/sprite.svg#x"></use>
        </svg>
      </h3>
      <div>
        А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
      </div>
      <h3> <span>Вопрос 2</span>
        <svg class="faq__icon">
          <use xlink:href="images/sprite.svg#x"></use>
        </svg>
      </h3>
      <div>
        А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
      </div>
    </div>
  </div>
</section>
